doctype html

html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    //- 防贴广告
    meta(http-equiv='Cache-Control', content='no-siteapp')
    meta(name='renderer', content='webkit')
    //- meta(name='viewport', content='width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-touch-fullscreen', content='yes')
    //- meta(name='format-detection', content='telephone=no,email=no')
    //- UC默认竖屏 ，UC强制全屏
    meta(name='full-screen', content='yes')
    meta(name='browsermode', content='application')
    //- QQ强制竖屏 QQ强制全屏
    meta(name='x5-orientation', content='portrait')
    meta(name='x5-fullscreen', content='true')
    meta(name='x5-page-mode', content='app')
    meta(name='App-Config', content='fullscreen=yes,useHistoryState=yes,transition=yes')
    meta(name='keywords', content=KEYWORDS)
    meta(name='description', content=DESCRIPTION)
    title= TITLE
    //- base(href=`${CONTEXT_PATH}/`)
    block rem
      include ./taobao-rem
    //- link(rel='apple-touch-icon-precomposed', href='')
    block css
    - 
      const globals = {
        REST_PATH: REST_PATH,
        TEST_PATH: TEST_PATH,
        CONTEXT_PATH: CONTEXT_PATH,
        VERSION: VERSION
      };
    script.
      window.App = { globals: !{JSON.stringify(globals)} };
      //- // 解决单页应用后退缓存问题
      //- function pageshow(event) {
      //-   var dom = document.getElementById('pageCacheInput'),
      //-     ua = navigator.userAgent;
      //-   if (ua.toLowerCase().indexOf('android') != -1) {
      //-     return;
      //-   }
      //-   //event.persisted 好像部分IOS不管用，一直是false
      //-   if (event.persisted || (dom && dom.value == 1)) {
      //-     location.reload(true);
      //-     //location.replace(location.href + (location.search?'&':'?') + "_="+Date.now());
      //-   } else {
      //-     dom.value = 1;
      //-   }
      //- }
  //- body(onpageshow="pageshow(event)")
  body
    //- input(type="hidden",id="pageCacheInput")
    block content
    script.
      if(!window.Promise) {document.writeln('<script src="!{STATIC_PATH}/bower-components/es6-promise/es6-promise.auto.min.js"'+'>'+'<'+'/'+'script>');}
      if(!Object.assign) {document.writeln('<script src="!{STATIC_PATH}/bower-components/es6-shim/es6-shim.min.js"'+'>'+'<'+'/'+'script>');}
    block js